<section>
  <div class="container">
    <img src="assets/hero-piggy-img.png" alt="Piggy" />
    <div class="slogan">
      <h1>
        Seu <span>DinDin</span>, nosso<br />
        cuidado!
      </h1>
      <p>
        Chega de surpresas no fim do mês! Com o DinDin, você monitora suas
        despesas e mantém suas finanças sob controle de forma fácil e intuitiva.
      </p>
      <nav>
        <a routerLink="/login" class="tertiary-btn">Entrar</a>
        <a routerLink="/sign-up" class="primary-btn">Registrar-se</a>
      </nav>
    </div>
  </div>
</section>
