@import "/src/styles/variables";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@mixin default-btn {
  display: block;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  transition: transform 0.3s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.tertiary-btn {
  @include default-btn();
  color: $white;
  background-color: $tertiary-color;
}

.primary-btn {
  @include default-btn();
  color: $white;
  background-color: $primary-color;
}
