<section>
  <div class="container">
    <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="onSubmit()">
      <legend>Login</legend>
      <span *ngIf="errorOnSubmit" class="error-message">
        Houve um erro, verifique o e-mail a senha e tente novamente.
      </span>
      <div class="input-group">
        <div class="input-wrapper">
          <label for="">E-mail</label>
          <input id="email" name="email" type="email" formControlName="email" />
        </div>
        <div class="input-wrapper">
          <label for="password">Senha</label>
          <input
            id="password"
            name="password"
            type="password"
            formControlName="password"
          />
        </div>
      </div>
      <button type="submit" class="tertiary-btn">Entrar</button>
    </form>
  </div>
</section>
